/* =Subscribe widget
===================================================== */

// Widget: Subscribe
//
// Subscribe jetpack widget
//
// Markup: widget-subscribe.html
//
// Style guide: 6.widget.subscribe

.jetpack_subscription_widget {

  text-align: center;

  .widget-title {

    color: $color-white;
    font-size: ms(3);
    font-weight: $regular;
    margin-bottom: $unit-xxl;
  }

  p {

    margin: 0;
    color: rgba(255,255,255,.8);

  }

  input[type="email"] {

    min-height: $unit-xl;
    width: 100%!important; // Override jetpack CSS

  }

  input[type="submit"] {

    min-height: $unit-xl;
    width: 100%;
    color: $color-text-strong-invert;
    text-transform: uppercase;
    background-color: $color-button-primary;

    &:hover,
    &:focus,
    &:active {

      color: $color-text-strong-invert;
      background-color: $color-button-primary-hover;

    }

  }

  #subscribe-text {
    @include visually-hidden();
    margin-bottom: $unit-m;

  }

  #subscribe-email,
  #subscribe-submit {

    display: inline-block;
    margin: 0;
    vertical-align: top;

  }

  #subscribe-email {
    margin-bottom: $unit-xs;
  }

  @include breakpoint(small) {

    #subscribe-email {
      margin-bottom: 0;
      margin-right: 2%;
      width: 75%;
    }

    #subscribe-submit {
      width: 22%;
    }

  }

}