/*
 * Attendees page
 *
 * Experimenting with global style overrides
 */

.page-slug-attendees {

  .type-page {

    max-width: rem(1400);

  }

  .entry-title {

    position: relative;

    margin-bottom: $unit-l;
    margin-bottom: rem(64);
    padding-bottom: rem(64);

    text-align: center;

  }

}