/*
 * Sponsors page
 *
 * Experimenting with global style overrides
 */

.page-slug-sponsors {

  #content,
  #primary {

    max-width: rem(1200);
    margin-left: auto;
    margin-right: auto;

  }

  .entry-title {
    text-align: center;
  }

}