/* =Organizers
===================================================== */

// Organizers
//
// Organizer listing
//
// Markup: organizers.html
//
// Style guide: 6.organizers

.page-slug-organizers {
  & .type-page {
    max-width: rem(1400);
  }

  & .entry-title {
    margin-bottom: $unit-xxl;
    text-align: center;
  }
}

.wcorg-organizers {

  padding-bottom: $unit-xxl;
  margin-bottom: $unit-default;

  @supports (grid-area: auto) {

    display: grid;
    grid-gap: $unit-xl;
    grid-template-columns: 1fr 1fr;

    @include breakpoint(medium) {
      grid-template-columns: 1fr 1fr 1fr;
    }

  }
 
}

.wcorg-organizer {

  max-width: 40em;
  margin-bottom: $unit-l;

  @supports (grid-area: auto) {
    margin-bottom: 0;
  }

  &:last-child {

    margin-bottom: 0;

  }

  h2 {

    font-size: rem(16);
    font-family: $font-body;
    font-weight: $medium;

  }

  .wcorg-organizer-description {

    display: flex;

  }

  p {

    margin: 0;

    font-size: ms(0, 16px);

  }

  .avatar {

    width: rem(48);
    height: rem(48);
    margin-right: $unit-s;

  }

}