/*
 * Attendees page
 *
 * Experimenting with global style overrides
 */

.page-slug-attendees {

  .type-page {

    max-width: rem(1400);

  }

  .entry-title {

    position: relative;
    margin-bottom: $unit-xxl;

    text-align: center;

  }

}