// Widgets
//
// Showing all available widget areas on the page
//
// Markup: styleguide-widgets.html
//
// Style guide: 6.widget-areas

/*
 * Style guide widget areas
 *
 * Override styling to showcase visually theme layout and widget areas.
 * This part is scoped to affect only the style guide.
 */

.styleguide-widget-areas {

  * {

    margin: 0!important;
    padding: 1em!important;

    background: rgba($color-brand-primary, .1);
    border: rem(2) solid rgba($color-brand-primary, .5);

    font-size: ms(0,18px);
    line-height: ms(0, 24px);

    &:before {

      position: static!important;
      top: auto!important;
      left: auto!important;
      right: auto!important;
      bottom: auto!important;
      display: inline-block;
      padding: .125em .25em;

      content: "#"attr(id);

      font-size: ms(0,14px);
      line-height: ms(0, 18px);
      font-weight: $bold;
      font-family: $monospace;

      background-color: #fff;

    }

  }

  * + * {

    margin-top: 1em!important;

  }

}

/*
 * Widget layouts and styling
 *
 * Basic widget structure and styling applied based
 * on the position of the widget.
 */

.home .content-widgets-block {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

@supports (grid-area: auto) {
  .home #content-widget-1 {
    display: grid;
    grid-gap: ($container-unit-small * 2);
    grid-template-areas: "a a"
                         "b b";

    & .widget {
      padding-bottom: 0;
    }

    & .widget:first-child {
      grid-area: a;
    }

    & .widget:nth-child(2) {
      grid-area: b;
    }

    @include breakpoint(medium) {
      grid-template-areas: "a a b";
    }
  }

  .home #content-widget-2 {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(20rem, 1fr) );
    margin-top: $unit-xl;

    & .widget {
      background-color: $color-brand-quaternary;
      background-image: url("https://2019.nordic.wordcamp.org/files/2018/11/bg-wcnordic.png");
      background-size: cover;
      background-repeat: no-repeat;
      padding-bottom: 0;
      width: 100%;
    }

    & .widget:nth-of-type(2) {
      background-image: url("https://2019.nordic.wordcamp.org/files/2018/11/bg-wcnordic-1.png");
    }

    & .widget:nth-of-type(3) {
      background-image: url("https://2019.nordic.wordcamp.org/files/2018/11/bg-wcnordic-2.png");
    }

    & .callout {
      background-color: transparent;
      margin-bottom: 0;
    }
  }
}


.widget {

  position: relative;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: ($container-unit-small * 2);

}

.widget-title {

  font-size: ms(1);
  line-height: ms(1);

}

.footer-widgets .widget-title {
  color: $color-white;
}


/*
 * Secondary Widgets
 *
 * Full width widgets after the content
 */

#after-header-widgets .widget,
#before-content-widgets .widget,
#secondary .widget {

  // padding-left: 0;
  // padding-right: 0;
  text-align: center;

  > * {

    position: relative;

  }

  &:before {

    position: absolute;
    // z-index: -1;
    top: 0;
    bottom: 0;
    left: -1000px;
    right: -1000px;

    // background-color: $color-brand-secondary;

    content: "";

  }

}

#content-widgets {

  .widget {

    position: relative;

  }

}


/*
 * Widget text
 *
 * Default text widget styles
 */

.widget_text {

  &:before {

    background-color: $color-grey-10!important;

  }

}