/* =Sessions
===================================================== */

// Sessions
//
// Sessions list
//
// Markup: sessions.html
//
// Style guide: 6.sessions

.wcorg-sessions {


}

.wcorg-session {

  &:before {

    display: block;
    height: rem(4);

    background-color: $color-grey-20; 

    content: "";

    margin-bottom: $unit-xl;
    margin-top: $unit-xl;

  }

  &:first-child:before {

    display: none;

  }

  .wcorg-session-description {

    @include clearfix();

  }

  .wcpt-session-meta {
    @include smallcaps();
    font-weight: $medium;

  }

  .avatar {

    float: left;
    margin: $unit-xs $unit-s $unit-xs 0;

  }

  p {

    margin-bottom: $unit-xs;

    &:last-child {

      margin-bottom: 0;

    }

  }

  h3 {

    text-transform: none;

  }

  ul {}
  li {}

}